.fieldWrap {
  position: relative;
}
.inputItem {
  margin-bottom: 12px;
  width: 100%;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #323443;
  background: #24252e;
}

.deleteBtn {
  position: absolute;
  top: 12px;
  right: 48px;
}
