.header {
  border-bottom: 1px solid #313442;
  background: #1e1e27;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.logoText {
  font-size: 32px;
  font-weight: 700;
  line-height: 28px;
}
